div.card-page{
    background-color:#ffd633;
    }
       
    img.home-icon{
      width:100px;
      height:100px;
    float:center;
    }
    img.home-icon-small{
        width:60px;
        height:60px;
    }
    
    .vertical{
        flex-direction: column;
    }